@use '../../fonts/fonts.scss';

// Colores de Redes Sociales----------------
$facebookcolor:#002896;
$twittercolor:#00acee;
$githubcolor:#f5f5f5;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 15px;
    background: rgba(51, 51, 51, 0.9);
    opacity: 0.5;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255,.2);
    border-radius: 5px;
    &:hover {
      background: rgb(255, 255, 255,.8);;
    }
  }
}

  // Color Variables ======================================
$green: #75b800;
$gray-light: #eef1f3;

// Bar Variables ========================================
$bar-size: 5px;
$bar-radius: 60px;
$bar-bg: rgba(0, 0, 0, 0.075);


#example-page{
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;

    .containercubo {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 110%;
      background-color: rgb(102,147,74);
      overflow-y:hidden;
      overflow-x:hidden !important;
    }
  
    .cube {
      position: absolute;
      top: 0%;
      left: 0;
      right: 8%;
      bottom: 30%;
      margin: auto;
      font-size: 600%;
      height: 1em;
      width: 1em;
      transform: rotatex(30deg) rotatey(45deg);
      transform-style: preserve-3d;
      animation: cube-spin 1.5s infinite ease-in-out alternate;
    }
  
    .side {
    
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform-style: preserve-3d;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: currentcolor;
        transform: translatez(0.5em);
        animation: cube-explode 1.5s infinite ease-in-out;
        background: white;
        opacity: 0.5;
      }
    }
    
    @for $i from 1 through 4 {
      .side:nth-child(#{$i}) {
        transform: rotatey(90deg * $i);
      }
    }
    
    .side:nth-child(5) {
      transform: rotatex(90deg);
    }
    
    .side:nth-child(6) {
      transform: rotatex(270deg);
    }
    
    @keyframes cube-spin {
      0% {
        transform: rotatex(30deg) rotatey(45deg);
      }
      100% {
        transform: rotatex(30deg) rotatey(45deg + 360deg);
      }
    }
    
    @keyframes cube-explode {
      0% {
        transform: translatez(0.5em);
      }
      50% {
        transform: translatez(0.5em * 2.5);
      }
      100% {
        transform: translatez(0.5em);
      }
    }
    // body {
    //   background: $gray-light;
    // }
  
    // Animation =============================================
    // Edit these at random intervals to change the animation.
    @keyframes loader {
      0% {
        width: 0;
      }
  
      100% {
        width: 155%;
      }
    }
  
    // Bar ============================================
    .progress-bar {
      border-radius: $bar-radius;
      overflow: hidden;
      width: 100%;
      span {
        display: block;
      }
    }
  
    .bar {
      background: $bar-bg;
    }
  
    .progress {
      animation: loader 8s ease infinite;
      // Change the animation fill mode 'infinite' to 'forwards' to stop the animation from repeating.
      background: $green;
      color: #fff;
      padding: $bar-size;
      width: 0;
    }
  
    // Vertical Centering ==============================
    // You don't need this to make it work on your site.
    .progress-bar {
      margin: 300px 0 0 0px;
      left: 45%;
      max-width: 50%;
      position: absolute;
      top: 30%;
      transform: translate3d(-50%, -50%, 0);
    }

        .Topbar{
          
            position: fixed;    
            display: none;
            justify-content: center;
            align-items: center;
            flex-flow: row;
            height: 8vh;
            width: 100%;
            font-family: 'Josefin',sans-serif;
            transition: 0.5s ease;
            background-color: rgb(102,147,74);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            border-bottom: 2px solid rgb(0, 0, 0);
            opacity: 1;
            .cuadradito{
              margin-right: 4%;
              border-radius: 20px;
            }
            a {
              &:not(:last-child) {                
                margin-right: 25px;
              }
            }
            a {
              font-family: 'Sriracha', cursive;
                text-decoration: none;
                color:black;
                cursor: pointer;
                transition: color 0.3s ease-in-out;
              
              
              &:hover {
                color: rgb(255, 255, 255);
              }
            }
            } 
           

    //------Inicio del body------//
    .CuerpoCompleto {
        overflow-x: hidden;
        width: 100vw;
        height: auto;
        display: flex;
        flex-flow: column; 
    }
        .bienvenida {
        position: static;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/Bienvenida.jpg");
        min-height: 100vh;
        .caption {
            font-family: "Satisfy", cursive;
            position: absolute;
            justify-items: center;
            top: 30vh;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #000;
              .borderTitulo {
                //background-color: #111;
                opacity: 0;
                color: black;
                // margin-right: 70%;
                font-size: 4vmax;
                letter-spacing: 2px;
                position: static;
             }
            
          }
      }
    .Img-2 {
        position: static;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/fondo5.jpg");
        min-height: 45vh;
    }


    //----------Seccion de Menu de navegacion--------------//
    .MenuNavegacion{
      display: grid;
      grid-template-columns: repeat(auto-fill, 32vw);
      grid-gap: 1vw;
      width: 100vw;
      height: 100vh;
      top: 0px;
      left: 0px;
      background: white;
    }
    
    .Interior {
      display: flex; 
      flex-flow: column; 
      justify-content: center;
      border-radius: 15px;
      margin: 10% 5% 10% 5%;
      background: rgb(255,255,157);
      transition: 0.5s;
      cursor: pointer;

      a {
        font-family: 'Sriracha', cursive;
        text-decoration: none;
        margin-bottom: 5%;
        font-size: 5vh;
        text-align: center;
        color: black;
        cursor: pointer;

      }
      .ilustraciones{
        width: 35%;
        height: 35%;
        margin-left: 35%;
        margin-top: 15%;
      }
      &:hover {
        transition: 0.5s ease;
        margin: 1% 5% 1% 5%;
        background-color: rgb(253, 253, 134);
    }
    }
   
    .Interior2 {
      display: flex; 
      flex-flow: column; 
      justify-content: center;
      border-radius: 15px;
      margin: 10% 5% 10% 5%;
      background: rgb(171,235,174);
      transition: 0.5s;
      cursor: pointer;

      a {
        font-family: 'Sriracha', cursive;
        text-decoration: none;
        // margin-top: -700px;
        font-size: 5vh;
        text-align: center;
        color: black;
      }
      &:hover {
        transition: 0.5s ease; 
        margin: 1% 5% 1% 5%;
        background-color: rgb(132, 248, 138);
    }
    .informacion{
      width: 35%;
      height: 35%;
      margin-left: 32%;
      margin-top: 3.5%;
    }
    }
    .Interior3 {
      display: flex; 
      flex-flow: column; 
      justify-content: center;
      border-radius: 15px;
      margin: 10% 5% 10% 5%;
      background: rgb(201,202,85);
      transition:0.5s;
      cursor: pointer;

      a {
        font-family: 'Sriracha', cursive;
        text-decoration: none;
        // margin-top: -700px;
        font-size: 5vh;
        text-align: center;
        color: black;
      }
      .contactame{
        width: 34%;
        height: 34%;
        margin-left: 35%;
        margin-top: 5%;
      }
      &:hover {
        transition: 0.5s ease;
        margin: 1% 5% 1% 5%;
        background-color: rgb(200, 202, 43);
    }

    }

    //---------Seccion saludo-----------//
    .Saludo {
        display: grid;
        grid-template-columns: repeat(auto-fill, 49vw);
        grid-gap: 1vw;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        background: #587c95;
        overflow-y: hidden;
      }
      
      .Interior_2 {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 10% 5% 10% 5%;
        background: #587c95;
        
        .Texto_2 {
          font-family: "Satisfy", cursive;
          font-size: 18vh;
          text-align: center;
          color: white;
        }
        .Descripcion_2 {
          animation: slide-left 10s;
          font-family: 'Sriracha', cursive;
          font-size: 3vh;
          text-align: center;
          color: white;
        }
        @keyframes Descripcion_2 {
            from {
                margin-left: 100%;
                width: 300%;
            }
            to {
                margin-left: 0%;
                width: 100%;
            }
        }
        // .linea {
        //   margin-bottom: 5%;
        // height: 4px;
        // width: 100%;
        // background-color: white;
        // }

        .linea {
          width: 70%;
          height: 3px;
          background: #fff;
          left: 0%;
        }

        .linea2 {
          margin-top: 5%;
          width: 70%;
          height: 3px;
          left: 20%;
          background: #fff;
        }
    
        
      }
     
      .Interior2_2 {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 10% 5% 10% 5%;
        background:  #587c95;
  
        .Grafiti{
          width: 100%;
          height: 100%;
          border-radius: 60px;
        }
      }
    

    //-------Seccion foto 3-------------//
    .Img-3 {
        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/fondo.jpg");
        min-height: 40vh;
    }

    //-----------Seccion de Work------------//
    .Work {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background:  #536b6b;
      }
      
      .Interior_4 {
        
        .Texto_4 {
          width: 100%;
          font-family: "Satisfy", cursive;
          font-size: 20vh;
          // margin: 100px 0px 0px 300px;
          text-align: center;
          color: black;       
        }
        
        .Descripcion_4 {
          width: 100%;
          padding: 1vh 10vw 0px 10vw;
          font-family: 'Sriracha', cursive;
          font-size: 3.5vw;
          justify-content: center;
          align-items: center;
          // margin: 0px 4000px 0px 0px;
          text-align: center;
          color: black;        
        }
        .linea3{
         
          margin-top: 5vh;
          height: 4px;
          width: 50vw;
          margin-left: 3vw;
          background-color: black;
        }
        .linea4{
          margin-top: 5vh;
          height: 4px;
          width: 50vw;
          margin-left: 46vw;
          background-color: black;
        }
  
    }

    //------------Seccion Titulo ilustraciones-----------//
    .IlustacionesTitle{
      background: rgb(171,235,174);
      padding-top: 5%;
      // margin-bottom: 1%;
      width: 100vw;
        height: 34vh;
        .tituloIlustraciones{
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        letter-spacing: 1px;
       font-family: 'Mitr', sans-serif; 
        //font-family: "Satisfy", cursive;
        .letraTituloIlustraciones{
            background-image: url("https://i.pinimg.com/originals/0a/93/81/0a9381195a69d6bceeb0f03a660b0354.gif");
            background-size: cover;
            color: transparent;
            background-clip: text;
	        -webkit-background-clip: text;
            text-transform: uppercase;
            font-size: 11vw;
            //line-height: .75;
            margin-top: -5vh;
        }
        }
      }
    //-----------------Fotos de ilustraciones-------------//

    .Ilustraciones {
        display: grid;
        grid-template-columns: repeat(auto-fill, 49vw);
        grid-gap: 1vw;
        width: 100vw;
        height: 100vh;

        left: 0px;
        background: rgb(171,235,174);
      }
      
      .Interior_5 {
        
        display: flex; 
        flex-flow: column; 
        max-height: 90vh;
        justify-content: center;
        border-radius: 15px;
        margin-top: 1%;
        margin-left: 5%;
        background:rgb(171,235,174);
  
        .Texto_5 {
          font-family: "Satisfy", cursive;
          font-size: 450%;
          text-align: center;
          color: black;
        }
        .Descripcion_5 {
          font-family: 'Sriracha', cursive;
          margin-top: 50px;
          font-size: 110%;
          text-align: center;
          color: black;
          cursor: pointer;
        }
        .linea5{
         
          margin-bottom: 5vh;
          height: 4px;
          width: 30vw;
          margin-left: 20vw;
          background-color: black;
          animation-timing-function: ease
        }
        .linea6{
          margin-top: 5vh;
          height: 4px;
          width: 30vw;
          margin-left: 0vw;
          background-color: black;
          animation-timing-function: ease
        }
  
      }
     
      .Interior2_5 {
        height: 90vh;
        width: 100%;
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        justify-items: center;
        border-radius: 15px;
        margin-top: 1%;
        margin-left: 5%;
        background: rgb(171,235,174);
        .contenedor {
          padding: 50px;
          margin: auto;
          width: 500px;
          padding-left: 5%;
          //width: 100%;
      
          ul,
          li {
            margin: 0;
            padding: 0;
            list-style: none;
          }
          ul.slider {
            position: relative;
            width: 250px;
            height: 350px;
            //padding-rigth: 10%;
            //width: 100%;
            //height: 100%;
            
          }
          ul.slider li {
            margin-left: 42%;
            position: absolute;
            left: 0px;
            top: 10%;
            //top: -100%;
            opacity: 0;
            width: inherit;
            height: inherit;
            //width: 45vw;
            //height: 50vh;
            background-color: white;
            transition: opacity 0.5s;
          }
          ul.slider li img {
            
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      
          ul.slider li:first-child {
            opacity: 1;
          }
          ul.slider li:target {
            opacity: 1;
          }
      
          .menu {
            text-align: center;
            margin: 20px;
            padding:15%;
            width: 100%;
            li {
              display: inline-block;
              text-align: center;
              a {
                display: inline-block;
                color: #fff;
                text-decoration: none;
                background-color: rgb(99, 201, 104);
                top: 10px;
                padding: 10px;
                width: 40px;
                height: 40px;
                font-size: 20px;
                border-radius: 100%;
                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
  
       .Cuadro3{
         height: 100%;
         padding-left: 400px;
         padding-right: 400px;
         border-radius: 60px;
       }
      }
    //---------------Seccion ilustracion 2---------------------//
    .Photosilustraciones2 {
      display: grid;
      grid-template-columns: repeat(auto-fill, 32vw);
      grid-gap: 1vw;
      width: 100vw;
      height: 100vh;
      top: 0px;
      left: 0px;
      background: rgb(255,255,157);
    }
    .Interior_7 {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin: 0% 5% 10% 5%;
      background: rgb(255,255,157);

      .Cuadro4 {
        width: 80%;
        height: auto;
        //margin-bottom: 80%;
        transition: 0.5s ease;
      }

      
      &:hover .Cuadro4{
        display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0px;
          width: 100%;
          height: auto;
    }

      
    }

    .Interior2_7 {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin: 0% 5% 10% 5%;
      background: rgb(171,235,174);

      .Cuadro5 {
        width: 80%;
        height: auto;
        //margin-bottom: 80%;

        transition: 0.5s ease;
      }

      &:hover .Cuadro5{
        display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0px;
          width: 100%;
          height: auto;
    }
    }
    .Interior3_7 {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin: 0% 5% 10% 5%;
      background: rgb(171,235,174);

      .Cuadro6 {
        width: 80%;
        height: auto;
        //margin-bottom: 80%;
        // margin-top: 600px;
        transition: 0.5s ease;
      }
      &:hover .Cuadro6{
        display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0px;
          width: 100%;
          height: auto;
    }
    }
    //----------------Seccion Skills-----------//
    .OurSkills {
      
      width: 100vw;
      height: 100vh;
      // position: relative;      
      background:rgb(189, 213, 33);
      
      .Texto_8 {
        font-family: "Satisfy", cursive;
        font-size: 10vh;
        text-align: center;
        color: black;
      }
      .Descripcion_8 {
        font-family: 'Sriracha', cursive;
        margin-top: 2%;
        font-size: 80px;
        text-align: center;
        color: black;
        cursor: pointer;
      }
    
      //---//---//--Inicio animacion scss--//--//--//
      .Interior_8 {
        display: flex;
        width: 95%;
        height: 40%;
        justify-items: center;
        align-items: center;
        @-webkit-keyframes show100 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 0;
          }
        }
        @keyframes show100 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 0;
          }
        }
        @-webkit-keyframes show75 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 134;
          }
        }
        @keyframes show75 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 124;
          }
        }
        @-webkit-keyframes show50 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 267;
          }
        }
        @keyframes show50 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 267;
          }
        }
        @-webkit-keyframes show25 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 401;
          }
        }
        @keyframes show25 {
          from {
            stroke-dashoffset: 537;
          }
          to {
            stroke-dashoffset: 401;
          }
        }
        .container2 {
          padding: 100px 0;
          text-align: center;
        }
        .chart {
          position: relative;
          display: inline-block;
          color: white;
          font-size: 80px;
          text-align: center;
          margin-top: 0%;
          margin-left: 7%;
          margin-right: -78%;
          figcaption {
            // padding: 50px 25px;
            width: 180px;
            height: 180px;
            border: 17px solid #f0f0f0;
            border-radius: 300px;
            line-height: 50px;
            
          }
          img {
            position: absolute;
            max-width: 55%;
            max-height: 55%;
            // background: white;
          }
          svg {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
          }
          &:hover {
            .outer {
              stroke-dashoffset: 534 !important;
              -webkit-animation-play-state: paused;
            }
          }
        }
        .html {
          top: 25%;
          left: 23%;
          + {
            svg {
              .outer {
                stroke: #e34f26;
              }
            }
          }
        }
        .css {
          top: 25%;
          left: 23%;
          + {
            svg {
              .outer {
                stroke: #0d84ce;
              }
            }
          }
        }
        .javascript {
          top: 25%;
          left: 25%;
          + {
            svg {
              .outer {
                stroke: #f0e040;
              }
            }
          }
        }
        .node {
          width: 60%;
          height: 60%;
          top: 23%;
          left: 23%;
          + {
            svg {
              .outer {
                stroke: #83cd29;
              }
            }
          }
          
        }
        .Skills{
          font-size: 300px;
          font-family: 'Satisfy', cursive;
          color: black;
        }
        .outer {
          fill: transparent;
          stroke: #333; 
          stroke-width: 20;        
          stroke-dasharray: 534;
          transition: stroke-dashoffset 1s;
          -webkit-animation-play-state: running;
          -moz-transform: rotate(-89deg) translateX(-190px);
        }
        .chart[data-percent='100'] {
          .outer {
            stroke-dashoffset: 0;
            -webkit-animation: show100 2s;
            animation: show100 2s;
          }
        }
        .chart[data-percent='75'] {
          .outer {
            stroke-dashoffset: 133;
            -webkit-animation: show75 2s;
            animation: show75 2s;
          }
        }
        .chart[data-percent='50'] {
          .outer {
            stroke-dashoffset: 267;
            -webkit-animation: show50 2s;
            animation: show50 2s;
          }
        }
        .chart[data-percent='25'] {
          .outer {
            stroke-dashoffset: 401;
            -webkit-animation: show25 2s;
            animation: show25 2s;
          }
        }
      }
    //--//--//--Final de animacion scss--//--//--//
    .Interior2_8 {
      display: grid;
      grid-template-columns: repeat(auto-fill, 24vw);
      grid-gap: 1vw;
      // width: 100vw;
      // height: 100vh;
      top: 0px;
      left: 0px;

      .SubInterior1 {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 0% 0% 10% 0%;
        background: rgb(189, 213, 33);

        .Texto_8 {
          font-family: 'Sriracha', cursive;
          font-size: 300%;
          text-align: center;
          color: black;
          margin-left: 5%;
          margin-top: 5%;
        }
        .Descripcion_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 150%;
          text-align: center;
          color: black;
          
        }
        .Porcentaje_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 120%;
          text-align: center;
          color: black;
          
        }
      }
      .SubInterior2 {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 0% 2% 10% 2%;
        background: rgb(189, 213, 33);

        .Texto2_8 {
          font-family: 'Sriracha', cursive;
          font-size:300%;
          text-align: center;
          color: black;
          margin-left: 5%;
        }
        .Descripcion2_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 150%;
          text-align: center;
          color: black;
          margin-left: 5%;
        }
        .Porcentaje2_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 120%;
          text-align: center;
          color: black;
          margin-left: 5%;
        }
      }
      .SubInterior3 {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 0% 2% 10% 0%;
        background: rgb(189, 213, 33);
        
        .Texto3_8 {
          font-family: 'Sriracha', cursive;
          font-size: 250%;
          text-align: center;
          color: black;
          margin-left: 5%;
          margin-top: 5%;
        }
        .Descripcion3_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 150%;
          text-align: center;
          color: black;
          margin-left: 5%;
        }
        .Porcentaje3_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 120%;
          text-align: center;
          color: black;
          margin-left: 5%;
        }
      }
      .SubInterior4 {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 0% 4% 10% 0%;
        background: rgb(189, 213, 33);
        
        .Texto4_8 {
          font-family: 'Sriracha', cursive;
          font-size: 300%;
          text-align: center;
          color: black;
          margin-left: 10%;
        }
        .Descripcion4_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 150%;
          text-align: center;
          color: black;
          margin-left: 10%;
        }
        .Porcentaje4_8 {
          font-family: 'Sriracha', cursive;
          // margin-top: 100px;
          font-size: 120%;
          text-align: center;
          color: black;
          margin-left: 10%;
        }
      }
    }
  }
    //--------------------Seccion Clientes---------//
    .Clientes {
      
      width: 100vw;
      height: 100vh;    
      background:rgb(253, 253, 134);
      justify-items: center;
      grid-gap: 1vw;
      left: 0px;

      

      .TitleClients {
        padding-top: 5%;
        height: 15%;
        width: 100vh;
        justify-content: center;
        border-radius: 15px;
        margin-left: 5%;
        background: rgb(253, 253, 134);
  
        .TextTitle {
          top: 15%;
          margin-left: 85%;
          font-family: "Satisfy", cursive;
          font-size: 450%;
          text-align: center;
          color: black;
        }
      }
      .cartas{
      height: 75%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 23vw);
      grid-gap: 1vw;
      margin-top: 15%;
      
      justify-content: center;
      justify-items: center;
      }
      .flip-card {
        display: block;
        justify-items: center;
        align-items: center;
        background-color: transparent;
        width: 100%;
        top:25vh;
        max-height: 40vh;
        border: 2px solid black;
        border-radius:15px;
        perspective: 1000px;
        &:hover {
          .flip-card-inner {
            transform: rotateY(180deg);
          }
        }
      }
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        
      }
      .flip-card-front {
        position: absolute;
        justify-items: center;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: rgb(232, 232, 112);
        border-radius:15px;
        color: black;
        img{
          justify-items: center;
          align-items: center;
          margin-top: 4%;
          border-radius:15px;
          height: 90%;
          width: 90%;
        }
      }
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 5%;
       // margin-left:5%;
        justify-content: space-between;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color:  rgb(248, 248, 116);;
        color: black;
        border-radius:15px;
        transform: rotateY(180deg);
        p{
          margin-top: 10%;
          margin-left:5%;
          margin-right:5%;
        }
      }
    }
    //----------Foto antes de los contactos
    .img3 {
        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/fondo4.jpg");
        min-height: 50vh;
    }
    //-------Seccion de contacto-----//
    .contacttitle{
        background-color: black;

        .tituloContacto{
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        letter-spacing: 1px;
        font-family: 'Mitr', sans-serif; 
        .letraTituloContacto{
            background-image: url("../../assets/Contatctos.gif");
            background-size: cover;
            color: transparent;
            background-clip: text;
	        -webkit-background-clip: text;
            text-transform: uppercase;
            font-size: 5em;
            //line-height: .75;
            margin: 10px 0;
        }
        }
        }
    .SeccionContacto{
        display: grid;
        width: 100%;
        height: 80vh;
        background-color: black;
        grid-template-columns: repeat(auto-fill,50%);
        .SocialNetworks{
            width: 100%;
            height: 100%;
            margin-left: 5%;
            
            .ContactCellphone { 
              font-family: 'Kumbh Sans', sans-serif;
              max-width: 70%;
              margin: 0; 
              padding: 0; 
              position: relative;
              left: 15%;
              top: 5%;
              font-size:5vh; 
              color: white; 
              //text-shadow: 2px 0 0 white, -2px 0 0 $facebookcolor, 0 2px 0$facebookcolor, 0 -2px 0$facebookcolor, 1px 1px$facebookcolor, -1px -1px 0 $facebookcolor, 1px -1px 0 $facebookcolor, -1px 1px 0 $facebookcolor;
              cursor: pointer;
          } 
            .letracontactoFacebook { 
                font-family: 'Kumbh Sans', sans-serif;
                max-width: 70%;
                margin: 0; 
                padding: 0; 
                position: relative;
                top: 15%;
                font-size: 5em; 
                color: black; 
                text-shadow: 2px 0 0 $facebookcolor, -2px 0 0 $facebookcolor, 0 2px 0 $facebookcolor, 0 -2px 0$facebookcolor, 1px 1px $facebookcolor, -1px -1px 0 $facebookcolor, 1px -1px 0 $facebookcolor, -1px 1px 0 $facebookcolor;
                cursor: pointer;
            } 
            .letracontactoFacebook::before { 
                /* This will create the layer 
                   over original text*/
                content: attr(data-text); 
                position: absolute;
                top: 0; 
                left: 0; 
                /* Setting different color than 
                   that of original text  */
                color:$facebookcolor; 
                overflow: hidden; 
                /* Setting width to 0*/
                height: 0%; 
                transition: 1s; 
            } 
            .letracontactoFacebook:hover::before { 
                /* Setting width to 100 on hover*/
                height: 100%; 
                cursor: pointer;
                
            } 
            
            
             .letracontactoTwitter { 
                font-family: 'Fredoka One', cursive;
                margin: 0; 
                padding: 0; 
                max-width: 75%;
                position: relative;
                top: 15%;
                font-size: 5em; 
                color: black; 
                text-shadow: 2px 0 0 $twittercolor, -2px 0 0 $twittercolor, 0 2px 0 $twittercolor, 0 -2px 0 $twittercolor, 1px 1px $twittercolor, -1px -1px 0 $twittercolor, 1px -1px 0 $twittercolor, -1px 1px 0 $twittercolor;
                cursor: pointer;
                } 
                .letracontactoTwitter::before { 
                    /* This will create the layer 
                       over original text*/
                    content: attr(data-text); 
                    position: absolute;
                    top: 0; 
                    left: 0; 
                    /* Setting different color than 
                       that of original text  */
                    color: $twittercolor; 
                    overflow: hidden; 
                    /* Setting width to 0*/
                    height: 0%; 
                    transition: 1s; 
                } 
                .letracontactoTwitter:hover::before { 
                    /* Setting width to 100 on hover*/
                    height: 100%; 
                    cursor: pointer;
                } 
                
            
            .letracontactoGitHub {
                font-family: 'Mitr', sans-serif; 
                margin: 0; 
                max-width: 75%;
                padding: 0; 
                position: relative;
                top: 15%;
                font-size: 5em; 
                color: black; 
                text-shadow: 2px 0 0 $githubcolor, -2px 0 0 $githubcolor, 0 2px 0 $githubcolor, 0 -2px 0 $githubcolor, 1px 1px #fff, -1px -1px 0 $githubcolor, 1px -1px 0 $githubcolor, -1px 1px 0 $githubcolor;
                cursor: pointer;
            } 
            .letracontactoGitHub::before { 
                /* This will create the layer 
                over original text*/
                content: attr(data-text); 
                position: absolute;
                top: 0; 
                left: 0; 
                /* Setting different color than 
                that of original text  */
                color:grey;
                overflow: hidden; 
                /* Setting width to 0*/
                height: 0%; 
                transition: 1s; 
            } 
            .letracontactoGitHub:hover::before { 
                /* Setting width to 100 on hover*/
                height: 100%; 
                cursor: pointer;
            } 
        

            .letracontactoInstagram { 
                font-family: 'Grand Hotel', cursive;
                margin: 0; 
                padding: 0; 
                max-width: 75%;
                position: relative;
                top: 15%;
                font-size: 5em; 
                color: black; 
                text-shadow: 2px 0 0 #405DE6, -2px 0 0 #5851DB, 0 2px 0 #833AB4, 0 -2px 0 #C13584, 1px 1px #E1306C, -1px -1px 0 #FD1D1D, 1px -1px 0 #F56040, -1px 1px 0 #F77737;
                cursor: pointer;
            } 
            .letracontactoInstagram::before { 
                /* This will create the layer 
                    over original text*/
                content: attr(data-text); 
                position: absolute;
                top: 0; 
                left: 0; 
                /* Setting different color than 
                    that of original text  */
                color:white; 
                overflow: hidden; 
                /* Setting width to 0*/
                height: 0%; 
                transition: 1s; 
            } 
            .letracontactoInstagram:hover::before { 
                /* Setting width to 100 on hover*/
                height: 100%; 
                cursor: pointer;
            } 
            
        }
        .TarjetaContacto{
          max-width: 95%;
          margin-left: 2vw;
          height: auto;
          
          .contenedor {
              top:25%;
              max-width: 90%;
            min-height: 350px;
              border-radius: 20px;
              position: relative;
              transform-style: preserve-3d;
              transition: 1.5s ease-in-out;
              
              &:hover {
                  transform: scale(1.15);
              }
          }
          .content {
              transform: translatez(70px) scale(0.8);
              line-height: 1.5em;
              h1 {
                  position: relative;
                  &:hover {
                      content: "";
                      position: absolute;
                      bottom: -20px;
                      height: 3px;
                      background-color: #3e3;
                      width: 70px;
                      left: 50%;
                      transform: translateX(-50%);
                  }
              }
              p {
                  margin-top: 50px;
                  line-height: 2em;
              }
          }
          .frontside {
            position: absolute;
              text-align: center;
              width: 100%;
              height: 100%;
              padding: 20px 50px;
              color: #fff;
              //transform-style: preserve-3d;
              backface-visibility: hidden;
              border-radius: 20px;
              z-index: 2;
              background-size: 100%;
              background-size: cover;
              background-image: url("../../assets/FrontCard.jpg");
          }
          .backside {
            position: absolute;
              text-align: center;
              width: 100%;
              height: 100%;
              padding: 20px 50px;
              color: #fff;
              //transform-style: preserve-3d;
              backface-visibility: hidden;
              border-radius: 20px;
              background-color: #333;
              //transform: rotateY(180deg);
              z-index: 0;
              padding-top: 10px;
              background-image: url("../../assets/BackCard.jpg");
              h1 {
                  margin: 0;
              }
          }
          form {
              text-align: left;
              label {
                  display: block;
                  margin: 15px 0;
              }
              input {
                  display: block;
                  background: transparent;
                  border: 0;
                  border-bottom: 2px solid #444;
                  padding: 5px;
                  width: 100%;
                  color: #fff;
              }
              textarea {
                  background: transparent;
                  border: 0;
                  border-bottom: 2px solid #444;
                  padding: 5px;
                  width: 100%;
                  color: #fff;
              }
              input[type="submit"] {
                  display: block;
                  width: auto;
                  margin: 10px auto;
                  padding: 5px 10px;
                  border: 3px solid #555;
                  border-radius: 4px;
                  color: #fff;
                  cursor: pointer;
              }
          }
        }
      }
    //--------Final Secciones-------//
    //-----///-----///Media query---///---//---///
    //background-attachment: scroll;
    @media screen and(max-width: 415px){
      .Topbar{
        position: fixed;    
        display: none;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        padding: 0;
        text-align: center; 
        height: 15vh;
        width: 100%;
        background-color: rgb(237, 237, 108);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        border-bottom: 2px solid rgb(0, 0, 0);
        opacity: 1;
        .cuadradito{
          border-bottom: black;
        a {
          &:not(:last-child) {
            margin-right: 25px;
          }
        }
        a {
          font-family: 'Sriracha', cursive;
            text-decoration: none;
            color:black;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
          
          &:hover {
            color: grey;
          }
        }
      }
      .cuadraditoclientes{
        display: none;
      }
        } 
      .bienvenida {
        position: static;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/Bienvenida.jpg");
        min-height: 100vh;
        .caption {
          font-family: 'Sriracha', cursive;
            position: static;
            justify-items: center;
            top: 40vh;
            width: 100%;
            text-align: center;
            //color: #000;
            .border {
                //background-color: #111;
                color: black;
                padding: 18px;
                font-size: 5vh;
                letter-spacing: 2px;
            }
          }
      }
      .Img-2 {
        display: none;
      }

      .MenuNavegacion{
        display: none;
      }
      .Saludo {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-gap: 0;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        background: #587c95;
        overflow-y: hidden;
      }
      
      .Interior_2 {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 10% 5% 10% 5%;
        background: #587c95;
  
        .Texto_2 {
          font-family: "Satisfy", cursive;
          font-size: 18vh;
          text-align: center;
          color: white;
        }
        .Descripcion_2 {
          animation: slide-left 10s;
          font-family: 'Sriracha', cursive;
          font-size: 3vh;
          text-align: center;
          color: white;
        }
        @keyframes Descripcion_2 {
            from {
                margin-left: 100%;
                width: 300%;
            }
            to {
                margin-left: 0%;
                width: 100%;
            }
        }
        .linea {
          margin-bottom: 5%;
        height: 4px;
        width: 100%;
        background-color: white;
        }
        .linea2 {
          margin-top: 5%;
          height: 4px;
          width: 100%;
          background-color: white;
        }
      }
     
      .Interior2_2 {
        display: none; 
        flex-flow: column; 
        justify-content: center;
        border-radius: 15px;
        margin: 10% 5% 10% 5%;
        background:  #587c95;
  
        .Grafiti{
          width: 100%;
          height: 100%;
          border-radius: 60px;
        }
      }
      .Img-3 {
        background-attachment: scroll;
      }
      .Work {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 90vh;
        background:  #495c5c;
      }
      
      .Interior_4 {
        
        .Texto_4 {
          width: 100%;
          font-family: "Satisfy", cursive;
          font-size: 10vh;
          // margin: 100px 0px 0px 300px;
          text-align: center;
          color: black;       
        }
        
        .Descripcion_4 {
          width: 100%;
          padding: 1vh 10vw 0px 10vw;
          font-family: 'Sriracha', cursive;
          font-size: 3vh;
          justify-content: center;
          align-items: center;
          // margin: 0px 4000px 0px 0px;
          text-align: center;
          color: black;        
        }
        .linea2{
          display: flex;
          justify-content: center;
          align-content: center;
          margin-top: 5vh;
          height: 12px;
          width: 0vw;
          margin-left: 20vw;
          background-color: black;
          animation-timing-function: ease
        }
  
    }
      .IlustacionesTitle{
        background: rgb(171,235,174);
        padding-top: 5%;
        width: 100vw;
        height: 15vh;
      }

      .Ilustraciones {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, 90vw);
      }
      
      .Interior_5 {
        display: none;
      } 
      .Interior2_5 {
        height: 80vh;
        width: 75vw;
        margin-top: 0;
        margin-left: -15%;
      }
      .OurSkills {
      
        width: 100vw;
        height: 100vh;

      .Interior_8 {
        display: none;
        width: 75vw;
        height: 90vh;
      }
      .Interior2_8 {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        // width: 100vw;
        //height: 20vh;
        top: 0px;
        left: 0px;
  
        .SubInterior1 {
          display: flex; 
          flex-flow: column; 
          justify-content: center;
          border-radius: 15px;
          margin: 0% 0% 3% 0%;
          background: rgb(189, 213, 33);
  
          .Texto_8 {
            font-family: 'Sriracha', cursive;
            font-size: 150%;
            text-align: center;
            color: black;
            margin-left: 5%;
          }
          .Descripcion_8 {
            font-family: 'Sriracha', cursive;
            margin: 2%;
            font-size: 100%;
            text-align: center;
            color: black;
            
          }
          .Porcentaje_8 {
            font-family: 'Sriracha', cursive;
            // margin-top: 100px;
            font-size: 100%;
            text-align: center;
            color: black;
            
          }
        }
        .SubInterior2 {
          display: flex; 
          flex-flow: column; 
          justify-content: center;
          border-radius: 15px;
          margin: 0% 2% 3% 2%;
          background: rgb(189, 213, 33);
  
          .Texto2_8 {
            font-family: 'Sriracha', cursive;
            font-size:150%;
            text-align: center;
            color: black;
            margin-left: 5%;
          }
          .Descripcion2_8 {
            font-family: 'Sriracha', cursive;
           margin: 2%;
            font-size: 100%;
            text-align: center;
            color: black;
            margin-left: 5%;
          }
          .Porcentaje2_8 {
            font-family: 'Sriracha', cursive;
            // margin-top: 100px;
            font-size: 100%;
            text-align: center;
            color: black;
            margin-left: 5%;
          }
        }
        .SubInterior3 {
          display: flex; 
          flex-flow: column; 
          justify-content: center;
          border-radius: 15px;
          margin: 0% 2% 3% 0%;
          background: rgb(189, 213, 33);
          
          .Texto3_8 {
            font-family: 'Sriracha', cursive;
            font-size: 150%;
            text-align: center;
            color: black;
            margin-left: 5%;
          }
          .Descripcion3_8 {
            font-family: 'Sriracha', cursive;
            margin: 2%;
            font-size: 100%;
            text-align: center;
            color: black;
            margin-left: 5%;
          }
          .Porcentaje3_8 {
            font-family: 'Sriracha', cursive;
            // margin-top: 100px;
            font-size: 100%;
            text-align: center;
            color: black;
            margin-left: 5%;
          }
        }
        .SubInterior4 {
          display: flex; 
          flex-flow: column; 
          justify-content: center;
          border-radius: 15px;
          margin: 0% 4% 3% 0%;
          background: rgb(189, 213, 33);
          
          .Texto4_8 {
            font-family: 'Sriracha', cursive;
            font-size: 150%;
            text-align: center;
            color: black;
            margin-left: 10%;
          }
          .Descripcion4_8 {
            font-family: 'Sriracha', cursive;
            margin: 2%;
            font-size: 100%;
            text-align: center;
            color: black;
            margin-left: 10%;
          }
          .Porcentaje4_8 {
            font-family: 'Sriracha', cursive;
            // margin-top: 100px;
            font-size: 100%;
            text-align: center;
            color: black;
            margin-left: 10%;
          }
        }
      }
    }
    .Clientes{
      display: none;
    }
      .img3 {
        background-attachment: scroll;
      }
      .contacttitle{
        display: none;
      }
      .SeccionContacto{
        display: grid;
        justify-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(auto-fill,100%);
      }
      .TarjetaContacto{
        display: none;
      }
    }
    @media(max-width: 768px) {
      background-attachment: scroll;
      .TarjetaContacto{
        display: none;
      }
    }
    @media(min-width: 950px) {
      .ContactCellphone { 
        display: none;
      }

    } 
    }